/* Structure */ 
:root { 
    --background: #d1d0a8;
    --blue: #16727e;
    --red: #b66b6b;
    --white: #ffffff;
    --black: #000;
    --content: #dcdca6;
}
body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: var(--blue);
}
h2 {
    color: var(--red);
}
.title {
    text-align: center;
}
footer, footer a {
    text-align: center;
    color: var(--blue);
    text-decoration: none;
}